{% extends 'mentor/mentor_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style%}
<style>
    .headerdiv{
		background-color: rgb(239, 197, 91);
		padding: .4rem;
		border-radius: .4rem;
		text-align: center;
	}
	.formdiv{
		padding-top: .2rem;
		
	}
	table {
		overflow-x: scroll;
		display: block;
        max-height: 100vh;
		/* height: 400px; */
	}
    #chart{
        width: 100px;
    }
</style>
{% endblock style%}

{% block content%}
<!-- form  -->
<div class="container p-3">
    <div class="row d-flex formdiv">
        <h4 class="pb-3 headerdiv">One-to-one session reports</h4>
        <div class="col">

            <form method="GET">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>From Date</label>
                        {% render_field otofilter.form.start_date class="form-control"%}
                    </div>

                    <div class="form-group col-md-3">
                        <label>To Date</label>
                        {% render_field otofilter.form.end_date class="form-control"%}
                    </div>

                    <div class="form-group col-md-3">
                        <label>Session</label>
                        {% render_field otofilter.form.session class="form-control"%}
                    </div>

                   

                    <div class="form-group col-md-3">
                        <label>New sessions</label>
                        {% render_field otofilter.form.other class="form-control"%}
                    </div>
                </div>

               
                
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Campus</label>
                        {% render_field otofilter.form.campus class="form-control"%}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Department</label>
                        {% render_field otofilter.form.dept class="form-control"%}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Course</label>
                        {% render_field otofilter.form.course class="form-control"%}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Register number</label>
                        {% render_field otofilter.form.regno class="form-control"%}
                    </div>
                </div>
                
                

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Student head who assigned</label>
                        {% render_field otofilter.form.assigned_by class="form-control"%}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Volunteer who accepted</label>
                        {% render_field otofilter.form.accepted_by class="form-control"%}
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label>Ticket Status</label>
                        {% render_field otofilter.form.ticket_status class="form-control"%}
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-primary" value="Search">
                    <a class="btn btn-warning" href="{% url 'oto_report_url' %}">Reset</a>

                </div>
              
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <canvas id="chart1" width="400px" height="400px"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="chart2" width="400px" height="400px"></canvas>
        </div>
    </div>
    <!-- Oto Request List -->
    <div class="row formdiv my-4">
        
      {% if tempoto %}
      <h5 class="form-header">One-to-One session Reports</h4>
        <div class="col p-2">
            <input type="button" class="btn btn-primary" id="btnExport" value="Export To Excel" onclick="ExportToExcel('xlsx')" />
        </div>

      <div class="table-responsive">
      <table class="table  table-hover" id="tbl_exporttable_to_xls" >
          <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
              <th>Sl No</th>
              <th>Session name</th>
              <th>Name</th>
              <th>Requested date</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>course</th>
              <th>Status</th>
              <th>Info</th>
          </tr>
          <tbody>
          {% for each in tempoto %}
          <tr class="text-center rounded-1 tablelist">
              <td>{{forloop.counter}}</td>
              {% if each.other %}
              <td>{{each.other_desc}}
              <p style="color:green;">New Session</p></td>
              {% else %}
              <td>{{each.session}}</td>
              {% endif %}
              
              <td>{{each.name}}</td>
              <td>{{each.request_datetime}}</td>
              <td><small>{{each.stuemail}}</small></td>
              <td>{{each.mobile}}</td>
              <td>{{each.course}}</td>
              <td>{{each.ticket_status}}</td>
              <td><a href="{% url 'mentor_oto_detail_url' each.id %}">Info</a></td>                
             
          </tr>
          {% endfor %}
          </tbody>
          </table>
      </div>
     
      {% else %}
      <h5>Oops! There seems to be no requests currently</h5>
      {% endif %}
      </div>
 
</div>

<!-- js code for converting tabe to xlsx -->
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	// chart js
	// jquery function
	
	$(document).ready(function(){
        var ctx = document.getElementById('chart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for each in sessionlist %}"{{each.session__session|safe}}",{% endfor %}], //loop through queryset, 
                datasets: [{
                    label: 'Session  name',
                    data: [{% for each in sessionlist %}"{{each.total|safe}}",{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
		});

        // chart 2
        var ctx = document.getElementById('chart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for each in deptlist %}"{{each.dept__dept|safe}}",{% endfor %}], //loop through queryset, 
                datasets: [{
                    label: 'Department name',
                    data: [{% for each in deptlist %}"{{each.total|safe}}",{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x:{
                        beginAtZero: true
                    }
                },
                title:{
                    display: true,
                    text : 'Deapartment wise session requests'

                }
            }
		});
    });


     
    function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('tbl_exporttable_to_xls');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
       var today = new Date();
       var date = today.getFullYear()+(today.getMonth()+1)+today.getDate();

       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
		 //change the report name to date
         XLSX.writeFile(wb, fn || (today+"."+(type || 'xlsx')));
    }
	
</script>
{% endblock %}

{% block script %}
{% endblock %}