{% extends 'mentor/mentor_base.html' %}
{% load static %}

{% block content%}

<!-- Volunteer List -->
<form action="{% url 'sessions' %}" method="GET" >
	
	
	
</form>
<form  method="post">


{% if results2 %}
<div class="container list p-3">
    <div class="row formdiv">
        <h4 class="form-header text-center">Closed and No Student feedback </h4>
   
        <p class="p-2">total counts : {{results2count}}</p>
        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Slno </th>
				<th>Student Name</th>
                <th>Ticket No</th>
                <th>session</th>
                <th>student email</th>
                <th>Volunteer email</th>
				<th>student feedback</th>
				<th>volunteer feedback</th>
				<th>Accepted date</th>
				<th>requested date</th>
            </tr>
           
            {% for result in results2 %}
            
            <tr class="text-center">
            <td>{{forloop.counter}}</td>
			<td>{{result.name}} </td>
            <td>{{result.ticket_no}}</td>
            <td>{% for session in session %}
                {% if session.id == result.session_id %}
                {{session.session}}
                {% endif %}
                {% endfor %}
            </td>

            <td>{{result.stuemail}}</td>
            <td>
                {% for users in users %}
                {% if users.id == result.accepted_by_id %}
                {{users.email}}
                {% endif %}
                {% endfor %}
            </td>
			<td>{{result.s_feedback}}</td>
			<td>{{result.v_feedback}}</td>
			<td>{{result.accepted_date}}</td>
			<td>{{result.request_datetime}}</td>
            </tr>
            
            {% endfor %}
        </table>
        </div>
    </div>
</div>

{% else %}
<div class="container list p-3">
    <div class="row formdiv">
        <h4 class="form-header text-center">Closed and feedback</h4>
        
        <div class="table-responsive">
        <table class="table  table-hover">
			<p >

				<div class="wrapper text-center">
					<h2>Oops! no results</h2>
			
					<h4>We can't fint the results you're looking for</h4>
					<h4>or</h4>
					<h4>No such users found</h4>
				</div></p>
        </table>
        </div>
    </div>
</div>
{% endif %}

{% if result %}
<div class="container list p-3">
    <div class="row formdiv">
        <h4 class="form-header text-center">Closed and feedback</h4>
        <p class="p-2">total counts : {{resultcount}}</p>
        <div class="table-responsive">
            <table class="table  table-hover">
                <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                    <th>Slno </th>
                    <th>Student Name</th>
                    <th>Ticket No</th>
                    <th>session</th>
                    <th>student email</th>
                    <th>Volunteer email</th>
                    <th>student feedback</th>
                    <th>volunteer feedback</th>
                    <th>Accepted date</th>
                    <th>requested date</th>
                </tr>
               
                {% for result in result %}
                
                <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td>{{result.name}} </td>
                <td>{{result.ticket_no}}</td>
                <td>{% for session in session %}
                    {% if session.id == result.session_id %}
                    {{session.session}}
                    {% endif %}
                    {% endfor %}
                </td>
    
                <td>{{result.stuemail}}</td>
                <td>
                    {% for users in users %}
                    {% if users.id == result.accepted_by_id %}
                    {{users.email}}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{result.s_feedback}}</td>
                <td>{{result.v_feedback}}</td>
                <td>{{result.accepted_date}}</td>
                <td>{{result.request_datetime}}</td>
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% else %}
<div class="container list p-3">
    <div class="row formdiv">
        <h4 class="form-header text-center">Closed and feedback</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
			<p >

				<div class="wrapper text-center">
					<h2>Oops! no results</h2>
			
					<h4>We can't fint the results you're looking for</h4>
					<h4>or</h4>
					<h4>No such users found</h4>
				</div></p>
        </table>
        </div>
    </div>
</div>

{% endif %}

</form>
{% endblock %}

{% block script %}
{% endblock %}


