{% extends 'superadmin/sa_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}

<!-- Messages
{% if messages %}
{% for message in messages %}

<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}
{% endif %} -->
		
<!-- Oto request List -->
<div class="container list p-3">
    <!-- Oto Request List -->
    <div class="row formdiv my-4">
        
        {% if reqlist %}
        <h5 class="form-header">One-to-One session request List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                <th>Name</th>
                <th>Requested date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>course</th>
                <th>Status</th>
                <th>Info</th>
            </tr>
            <tbody>
            {% for each in reqlist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>
                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td>{{each.course}}</td>
                <td>{{each.ticket_status}}</td>
                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>                
               
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to be no requests currently</h5>
        {% endif %}
        </div>
   


    
    <!-- Oto assigned List -->
    <div class="row formdiv my-4">
        
        {% if asglist %}
        <h5 class="form-header">One-to-One session assigned List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                <th>Name</th>
                <th>Requested date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Assigned to</th>
                <th>Status</th>
                <th>Info</th>
            </tr>
            <tbody>
            {% for each in asglist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>
                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td><small>{{each.assigned_to}}</small></td>
                <td>{{each.ticket_status}}</td>
                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to be no assigned sessions currently</h5>
        {% endif %}
        </div>

    <!-- oto accepted list -->
    <div class="row formdiv my-4">
        
        {% if acclist %}
        <h5 class="form-header">One-to-One session accepted List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                <th>Name</th>
                <th>Requested date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Accepted by</th>
                <th>Status</th>
                <th>Info</th>
            
            </tr>
            <tbody>
            {% for each in acclist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>
                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td><small>{{each.accepted_by}}</small></td>
                <td>{{each.ticket_status}}</td>
                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>
                 
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to no accepted sessions</h5>
        {% endif %}
        </div>

     <!-- oto rejectlist -->
    <div class="row formdiv my-4">
        
        {% if rejectlist %}
        <h5 class="form-header">One-to-One session work in Rejected List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                <th>Name</th>
                <th>Requested date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Rejected by</th>
                <th>Status</th>

                <th>Info</th>
            </tr>
            <tbody>
            {% for each in rejectlist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>

                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td>{% for x in each.rejected_by.all %} <small>{{x}} </small> {% endfor %} <br></td>
                <td>{{each.ticket_status}}</td>

                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to no rejected session list</h5>
        {% endif %}
        </div>   
    <!-- oto worklist -->
    <div class="row formdiv my-4">
        
        {% if worklist %}
        <h5 class="form-header">One-to-One session work in progress List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                
                <th>Name</th>
                <th>Requested date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Accepted By</th>
                <th>Status</th>
                <th>Info</th>
         
  
            </tr>
            <tbody>
            {% for each in worklist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>
                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td> <small> {{each.accepted_by}} </small></td>
                <td>{{each.ticket_status}}</td>
                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>

               
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to no work in progress</h5>
        {% endif %}
        </div>

    <!-- oto closed list -->
    <div class="row formdiv my-4">
        
        {% if closedlist %}
        <h5 class="form-header">One-to-One session closed List</h4>

        <div class="table-responsive">
        <table class="table  table-hover">
            <tr class=" text-white text-center rounded-1 tablelist" id="tablelist">
                <th>Sl No</th>
                <th>Session name</th>
                <th>Name</th>
                <th>Request Date</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>course</th>
                <th>Status</th>
                <th>Info</th>
                
            </tr>
            <tbody>
            {% for each in closedlist %}
            <tr class="text-center rounded-1 tablelist">
                <td>{{forloop.counter}}</td>
                {% if each.other %}
                <td>{{each.other_desc}}
                <p style="color:green;">New Session</p></td>
                {% else %}
                <td>{{each.session}}</td>
                {% endif %}
                
                <td>{{each.name}}</td>
                <td>{{each.request_datetime}}</td>
                <td><small>{{each.stuemail}}</small></td>
                <td>{{each.mobile}}</td>
                <td>{{each.course}}</td>
                <td>{{each.ticket_status}}</td>
                <td><a href="{% url 'sa_oto_detail_url' each.id %}">Info</a></td>

               
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
       
        {% else %}
        <h5>Oops! There seems to no sessions closed</h5>
        {% endif %}
        </div>


        </div>
    </div>
</div>
                    
{% endblock %}